@{
    ViewData["Title"] = "Privacy Policy";
}

<br />

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-lg-8">
        <br />
        <br />
        <h3>Content</h3>
        <p>
            The content was sent to your email. If you do not have access to it, contact the administrator.
            admin@admin.com
        </p>

    </div>

    <div class="col-lg-4 ">
        <img src="~/images/privacyPolicy.jpg" class="rounded float-md-left" height="150" width="320" asp-append-version="true" />
    </div>
</div>
<br />
<h3>Changes to our Privacy Policy</h3>
<p>
    We may change privacy policy from time to time. If the changes are significant,
    we will provide a more prominent notice by adding a notice on the Services homepages, login screens, or by sending you an email notification.
    We will also keep prior versions of this Privacy Policy in an archive for your review.  We encourage you to review our privacy policy whenever
    you use the Services to stay informed about our information practices and the ways you can help protect your privacy.
</p>