@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}
<h1> </h1>
<h1>@ViewData["Title"]</h1>
<h3> </h3>
<h4>Contact with company administrator.</h4>
<hr />
<div class="row">
    <div class="col-md-4">

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
